@page
@model SecurityDemo.Pages.HumanResourceModel
@{
}

<div class="align-content-center">
    <h1 class="text-center">Human Resource</h1>
    <p class="text-center">This page is only accessible to users with the "HR" role.</p>
</div>