@page
@model SecurityDemo.Pages.SettingsModel
@{
}
<div class="align-content-center">
    <h1 class="text-center">Settings</h1>
    <p class="text-center">This page is only accessible to authenticated users.</p>
</div>